$mdc-theme-primary: #429E46;
$gray-deep: #333;
$gray-middle: #999;
$gray-light: #ddd;
$border-radius: 3px;
$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
@mixin line-ellipsis-style() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:root {
    --mdc-theme-text-primary-on-light: white;
    --mdc-theme-text-primary-on-background: white;
    --mdc-theme-text-secondary-on-background: white;
}

::selection {
    background: var(--mdc-theme-primary);
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    background-clip: padding-box;
    border: 1px solid #979797;
    min-height: 28px;
}

::-webkit-scrollbar-track-piece {
    background-color: #f5f5f5;
    border-left: 1px solid #d2d2d2;
}

html {
    font-size: 87.5%;
    height: 100%;
}

body {
    display: flex;
    margin: 0;
    background-color: #F5F5F5;
    color: #666;
    font: 1em/1.5 "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a {
    color: var(--mdc-theme-primary);
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

pre {
    padding: 1em;
    white-space: pre-wrap;
    border-radius: 5px;
}

code {
    font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", "Microsoft YaHei", "WenQuanYi Micro Hei";
    color: var(--mdc-theme-primary);
}

blockquote {
    margin: 1em .5em;
    border-left: 4px solid $gray-light;
    background-color: #F4F5F6;
    padding: 1em 1em 1em 1.5em;
}

table {
    empty-cells: show;
    border-collapse: collapse;
}

td {
    border: 1px solid $gray-light;
    padding: 2px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

.hidden {
    display: none !important;
}