.mdc-floating-label {
    background-color: transparent !important;
}

.comment-form-main {
    margin-bottom: 25px;
    textarea {
        height: 70px;
        min-height: 70px;
    }
    .comment-form-fields {
        display: inline-block;
    }
}

.comment-form-extra {
    margin-bottom: 10px;
    clear: both
}

.comment-body {
    position: relative;
    min-height: 60px;
    margin: 15px 0;
    .comment-meta {
        padding-top: 4px
    }
    .comment-author {
        display: inline;
        color: $gray-deep;
        .avatar {
            position: absolute;
            top: 5px;
            left: -60px;
            width: 45px;
            border-radius: 50%
        }
        .comment-by-author:after {
            margin-left: 5px;
            padding: 0 4px;
            font-size: 12px;
            color: white;
            content: "博主";
            background: $gray-light;
            border-radius: 3px
        }
    }
    .comment-metadata {
        font-size: 12px;
        color: $gray-middle
    }
    .comment-actions {
        visibility: hidden;
        opacity: 0;
        font-size: 12px;
        transition: .3s;
        a {
            margin-left: .7em;
            color: $gray-middle;
            &:hover {
                color: $themes-color;
            }
        }
    }
    &:hover .comment-actions {
        visibility: visible;
        opacity: 1
    }
    .comment-content {
        word-wrap: break-word;
        p {
            margin: .2em 0
        }
        a {
            color: $gray-deep;
        }
    }
}