@import './common.scss';
@import '@material/layout-grid/mdc-layout-grid.scss';
@import '@material/button/mdc-button.scss';
@import '@material/ripple/mdc-ripple.scss';
@import '@material/list/mdc-list.scss';
@import '@material/textfield/mdc-text-field.scss';
@import '@material/fab/mdc-fab.scss';
@import '@material/drawer/mdc-drawer.scss';
@import './comment.scss';
@import './media.scss';
.body-content {
    width: 100%;
}

.container {
    position: relative;
    max-width: 1180px;
    min-width: 320px;
    padding: 0;
    margin: 0 auto;
}

.connecting-dots {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    height: 56px;
    background: $header-bg;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    .container {
        opacity: 0.9;
        display: flex;
        justify-content: space-between;
    }
    .logo {
        float: left;
        margin: 0;
        a {
            color: white;
            height: 56px;
            line-height: 56px;
            margin-right: 25px;
            text-decoration: none;
            user-select: none;
        }
    }
}

.nav-menu {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    a {
        padding: 0 20px;
        font-size: 14px;
        line-height: 56px;
        height: 56px;
        text-decoration: none;
    }
    a:hover,
    & .current {
        background-color: lighten($themes-color, 5%) !important;
    }
}

.mdc-button.color-filled-button {
    @include mdc-button-filled-accessible($themes-color);
}

#toggle {
    width: 25px;
    float: left;
    margin-top: 26px;
    margin-right: 5px;
    span {
        position: relative;
        display: block;
        &:after,
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: -9px;
        }
        &:after {
            top: 9px;
        }
    }
    span,
    span:after,
    span:before {
        width: 100%;
        height: 3px;
        background-color: white;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
    }
    &.on {
        span {
            background-color: transparent;
            &:before {
                transform: rotate(45deg) translate(5px, 5px);
            }
            &:after {
                transform: rotate(-45deg) translate(7px, -8px);
            }
        }
    }
}

.mdc-layout-grid {
    padding-top: 70px
}

#search {
    position: relative;
    margin-top: 15px;
    input {
        outline: none;
        border: none;
        &:focus+hr {
            transform: scale3d(1, 1, 1);
        }
    }
    button {
        position: absolute;
        right: 4px;
        top: 0;
        border: none;
        outline: none;
        width: 24px;
        height: 18px;
        background: transparent url(./img/icon-search.png) no-repeat center center;
        cursor: pointer;
    }
    hr {
        box-sizing: content-box;
        margin: 0px;
        position: absolute;
        width: 100%;
        &:first-of-type {
            border: solid $themes-color;
            border-width: 0 0 2px 0;
            transform: scale3d(0, 0, 0);
            transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }
        &:last-of-type {
            border: solid rgb(224, 224, 224);
            border-width: 0 0 1px 0;
        }
    }
}

.browsehappy {
    padding: 8px 0;
    border-color: #EBCCD1;
    background-color: #F2DEDE;
    text-align: center;
    color: #A94442;
    a {
        color: #A94442;
        font-weight: bold;
        text-decoration: underline;
    }
}

.post {
    padding: 15px 20px;
    margin-bottom: 15px;
    background: white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    &.type-post {
        .post-title,
        .post-meta {
            text-align: left;
        }
    }
    .post-title {
        text-align: center;
        margin: .2em 0 0.5em;
        font-size: 1.4em;
    }
    .post-title a {
        position: relative;
    }
    .post-title a:after {
        content: "";
        position: absolute;
        border-bottom: 2px solid $themes-color;
        bottom: -3px;
        left: 100%;
        width: 0;
        transition: width 350ms, left 350ms;
    }
    .post-title a:hover {
        color: darken($themes-color, 10%);
        text-decoration: none;
    }
    .post-title a:hover:after {
        left: 0;
        width: 100%;
        transition: width 350ms;
    }
    h1.post-title {
        font-size: 1.5em;
    }
    .post-title.page-h1 {
        border-bottom: 1px dashed $gray-light;
    }
    .post-meta {
        text-align: center;
        margin: 0;
        padding: 0;
        color: $gray-middle;
        font-size: .875em;
        border-bottom: 1px dashed $gray-light;
        padding-bottom: 5px;
        li {
            display: inline-block;
            margin: 0 8px 0 0;
        }
    }
    .post-near {
        list-style: none;
        margin: 20px 0 0;
        padding: 0;
        color: $gray-middle;
        border-top: 1px solid $gray-light;
        li {
            margin: 5px 0;
        }
    }
}

.related {
    h3 {
        border-top: 1px solid $gray-light;
        margin: 0;
        color: $themes-color;
        line-height: 32px;
    }
    ul {
        padding-left: 0;
        margin: 0;
        li {
            width: 50%;
            list-style: inside disc;
            float: left;
            color: $gray-middle;
        }
        a {
            color: $gray-deep;
        }
        a:hover {
            color: $themes-color;
        }
    }
}

.archive-title {
    margin: 0 0 1em;
    padding: 10px 20px;
    color: $gray-middle;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.75) inset;
    border-radius: 2px;
    strong {
        font-size: 18px;
        font-weight: normal;
        display: block;
    }
    .descrip {
        background-color: $gray-light;
        padding: 8px;
        border-radius: 3px;
        color: #666;
        position: relative;
        &:before {
            position: absolute;
            width: 0;
            height: 0;
            content: "";
            top: -16px;
            left: 20px;
            border: 8px solid $gray-light;
            border-color: transparent transparent $gray-light transparent;
        }
    }
}

.page-navigator {
    list-style: none;
    margin: 25px 0;
    padding: 0;
    li {
        display: inline-block;
        margin: 0 8px 0 0;
        color: $gray-deep;
        a {
            display: inline-block;
            padding: 0 10px;
            height: 28px;
            line-height: 28px;
            background-color: $gray-light;
            border-radius: 2px;
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
            &:hover {
                text-decoration: none;
                background-color: $themes-color;
                color: white;
            }
        }
    }
    li.prev,
    li.next,
    li.current {
        border-radius: 2px;
    }
    li.current a {
        background-color: $themes-color;
        color: white;
    }
}

.widget {
    margin-bottom: 15px;
    background: white;
    padding: 10px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    h3 {
        color: $themes-color;
        margin: 0;
        line-height: 30px;
        border-bottom: 1px solid $gray-light;
        position: relative;
        &:before {
            border-bottom: 1px solid $themes-color;
            position: absolute;
            content: "";
            width: 70px;
            height: 0;
            bottom: -1px;
        }
    }
    .mdc-list-item {
        padding: 0;
        a {
            display: block;
            width: 100%;
            line-height: 40px;
            @include line-ellipsis-style();
            &:hover {
                text-decoration: none;
            }
        }
    }
    &.widget-tag {
        position: sticky;
        top: 60px;
        .tag-cloud {
            padding: 10px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            a {
                display: inline-block;
                padding: 2px 5px;
                background: #EAEAEA;
                margin: 0 5px 5px 0;
                border-radius: 2px;
                color: $gray-deep;
                transition: all 0.2s linear;
                &:hover {
                    color: white;
                    background: $themes-color;
                    text-decoration: none;
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 3px 0 rgba(0, 0, 0, 0.1)
                }
            }
        }
    }
}

.post-content,
.comment-content {
    line-height: 1.5;
    word-wrap: break-word;
}

.post-content h2,
.comment-content h2 {
    font-size: 1.28571em;
}

.post-content img,
.comment-content img,
.post-content video,
.comment-content video {
    max-width: 100%;
}

.post-content a img,
.comment-content a img {
    background: white;
    position: relative;
    bottom: -4px;
}

.post-content hr,
.comment-content hr {
    margin: 1.5em auto;
    border: 1px solid #E9E9E9;
    border-width: 1px 0 0 0;
}

.creative-commons {
    width: 120px;
    height: 42px;
    &.CC-BY {
        background-image: url('./licensed/CC-BY.svg')
    }
    &.CC-BY-SA {
        background-image: url('./licensed/CC-BY-SA.svg')
    }
    &.CC-BY-NC {
        background-image: url('./licensed/CC-BY-NC.svg')
    }
    &.CC-BY-ND {
        background-image: url('./licensed/CC-BY-ND.svg')
    }
    &.CC-BY-NC-ND {
        background-image: url('./licensed/CC-BY-NC-ND.svg')
    }
    &.CC-BY-NC-SA {
        background-image: url('./licensed/CC-BY-NC-SA.svg')
    }
}

//footer
#goTop {
    position: fixed;
    right: 50px;
    bottom: 80px;
    background-color: $gray-light;
    transition: bottom ease-in-out .5s;
    &:hover {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }
    div {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
    }
    .arrow {
        width: 0;
        height: 0;
        top: 7px;
        border: 9px solid transparent;
        border-bottom-color: $themes-color;
    }
    .stick {
        width: 8px;
        height: 14px;
        top: 25px;
        border-radius: 1px;
        background-color: $themes-color;
    }
    &.fab-hidden {
        bottom: -60px;
    }
}

#footer {
    position: relative;
    padding: 2em 0;
    line-height: 1.5;
    text-align: center;
    color: $gray-middle;
    background: #525252;
    border-top: 2px solid $themes-color;
    font-size: 0.875em;
    a {
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }
}