@media only screen and (max-width: 768px) {
    div, a {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    }
    .nav-menu{
        display: none;
    }
    .container {
        margin: 0 10px !important;
    }
    #footer {
        padding: 1em 0;
    }
}